<!DOCTYPE html>
<html>

<head>
    <title>Flask Ajax Practice</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <script src="/static/js/jquery-3.3.1.min.js "></script>
    <script src="/static/js/bootstrap.js "></script>
    <style>
        #mylogin {
            height: 200px;
            /*高度*/
            width: 400px;
            /*寬度*/
            position: absolute;
            /*絕對位置*/
            top: 50%;
            /*從上面開始算，下推 50% (一半) 的位置*/
            left: 50%;
            /*從左邊開始算，右推 50% (一半) 的位置*/
            margin-top: -100px;
            /*高度的一半*/
            margin-left: -200px;
            /*寬度的一半*/
        }
    </style>
</head>

<body>
    <div class="container" id="mylogin">
        <br>
        <h2>{{message}}</h2>
        <form class="form-inline" action="/login" method="post">
            <div class="form-group">
                <label class="sr-only" for="nameInput">Name</label>
                <input type="text" class="form-control" id="nameInput" name="name" placeholder="First Name">
            </div>
            <div class="form-group">
                <label class="sr-only" for="passwordInput">Email address</label>
                <input type="text" class="form-control" id="passwordInput" name="pwd" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-default" id="btn">Submit</button>
        </form>
    </div>
</body>

</html>